body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cadetblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  color:red;
}
.Col{
   background-color: rgb(14, 173, 236);
   border-color: black;
 
}
.Nav{
  background-color: rgb(14, 173, 236);
  border-color: black;
  color:black
}
.Card{
  background-color: rgb(203, 231, 241);
  border-color: black;

}

.btnLink{
  display: inline-block;
  padding:6px 20px;
  border:1px solid #006699;
  border-radius: 8px;
  background-color: #0097DF;
  color:white;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:18px;
}
.btnLink:hover {
  background-color: #336699;
}
#valueItemDrop .dropdown-menu {
  padding: 0 10px;
  top: 22px;
  width: 100%;
  box-shadow: none;
  border-radius: none;
}
#valueItemDrop .checkbox label:before {
content: "";
display: inline-block;
width: 16px;
height: 16px;
margin-right: 10px;
position: absolute;
left: 0;
bottom: 4px;
background-color: transparent;
border: 1px solid #ccc;
}

#valueItemDrop .checkbox input[type=checkbox] {
display: none;
}

#valueItemDrop .checkbox label {
  padding-left: 25px;
  font-weight: bold;
}

#valueItemDrop .checkbox label:before {
  border: 1px solid #ccc;
border-radius: 3px;
}

#valueItemDrop .checkbox input[type=checkbox]:checked + label:before {
content: "\2714";
font-size: 15px;
color: #4A90E2;
text-align: center;
line-height: 14px;
padding: 0px;
font-weight: normal;
}

#valueItemDrop .selectbox {
  border-radius: 5px;
  padding: 3px 5px;
  width: 100%;
  border: 1px solid #A4A4A4;
  float: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 163px 8px;
  background-color: white;
}
